@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.ltr {
    direction: ltr;
    text-align: left;
  }
  
  /* RTL styles */
  .rtl {
    direction: rtl;
    text-align: right;
  }